[Desktop Entry]
Name=System Clock
Name[cs_CZ]=Systémové hodiny
Name[de]=Systemuhrzeit
Name[el]=Ρολόι συστήματος
Name[es]=Reloj del sistema
Name[fr]=Horloge système
Name[he]=שעון מערכת
Name[it]=Orologio di Sistema
Name[ja]=システムクロック
Name[pt_PT]=Relógio do sistema
Name[ro]=Ceas sistem
Name[ru]=Дата и время
Name[sv]=System klocka
Name[uk]=Системний годинник
Comment=System clock configuration tool
Comment[ar]=نظام أداة التكوين ساعة
Comment[cs_CZ]=Nástroj pro nastavení systémových hodiny
Comment[da]=Konfigurationsværktøj for systemur
Comment[de]=Uhrzeit stellen
Comment[el]=Ρύθμιση του ρολογιού του συστήματος
Comment[es]=Herramienta de configuración del reloj del sistema
Comment[es_AR]=Herramienta de configuración del reloj del sistema
Comment[fr]=Utilitaire de configuration de l'horloge système
Comment[he]=כלי עזר לקביעת תצורת שעון מערכת
Comment[hu]=Rendszeróra beállítóeszköz
Comment[it]=Strumento per la configurazione dell'Orologio di sistema
Comment[ja]=システムクロック設定ツール
Comment[nl]=Systeemklok configuratietool
Comment[pl]=Narzędzie do konfigurowania zegara systemowego
Comment[pt_PT]=Ferramenta de configuração do relógio do sistema
Comment[ro]=Instrument pentru configurarea ceasului de sistem
Comment[ru]=Графический интерфейс для clocksetup (входит в состав salixtools) — инструмента настройки даты и времени. Gtkclocksetup входит в состав salixtools-gtk.
Comment[sv]=System tids konfiguration
Comment[uk]=Інструмент налаштування системного часу
Exec=kdesu gtkclocksetup
Icon=gtkclocksetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
OnlyShowIn=KDE
