[Desktop Entry]
Name=System Language
Name[ar]=لغة النظام 
Name[cs_CZ]=Jazyk Systému
Name[da]=Systemsprog
Name[de]=Systemsprache
Name[el]=Γλώσσα συστήματος
Name[es]=Idioma del sistema
Name[es_AR]=Idioma del sistema
Name[fr]=Langue Système
Name[he]=שפת מערכת
Name[hu]=Rendszernyelv
Name[id]=Bahasa Sistem
Name[it]=Lingua di sistema
Name[ja]=システム用の言語
Name[nl]=Systeemtaal
Name[pl]=Język Systemu
Name[pt_PT]=Idioma do sistema
Name[ro]=Localizarea Sistemului
Name[ru]=Язык системы
Name[sv]=System Språk
Name[uk]=Системна мова
Comment=Locale configuration tool
Comment[ar]=أداة ضبط اللغة 
Comment[cs_CZ]=Nástroj pro nastavení národního prostředí
Comment[da]=Konfigurationsværktøj for sprog
Comment[de]=Sprach- und Ländereinstellungen des Systems
Comment[el]=Εργαλείο για τη ρύθμιση της γλώσσας του συστήματος
Comment[es]=Herramienta de configuración de localización
Comment[es_AR]=Herramienta de configuración de localización
Comment[fr]=Utilitaire de configuration de la langue du système
Comment[he]=כלי עזר לתצורת מקומיות
Comment[hu]=Nyelvi beállítóeszköz
Comment[id]=Perangkat Konfigurasi lokal
Comment[it]=Strumento di configurazione della lingua
Comment[ja]=ローカル設定用のツール
Comment[nl]=Locale configuratietool
Comment[pl]=Narzędzie do konfiguracji ustawień regionalnych
Comment[pt_PT]=Ferramenta de configuração de idiomas
Comment[ro]=Instrument pentru configurarea localizării sistemului
Comment[ru]=Графический интерфейс для localesetup (входит в состав salixtools) — инструмента управления языком системы. Gtklocalesetup входит в состав salixtools-gtk.
Comment[sv]=Språk konfiguration
Comment[uk]=Інструмент налаштування локалі
Exec=gksu gtklocalesetup
Icon=gtklocalesetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
NotShowIn=KDE
