[Desktop Entry]
Name=Repository Mirror
Name[cs_CZ]=Zrcadlo uložiště
Name[de]=Spiegelserver
Name[el]=Αποθετήριο
Name[es]=Repositorio Espejo
Name[fr]=Dépôt miroir
Name[ja]=リポジトリミラー
Name[sv]=Förrådsspegel
Name[uk]=Дзеркало сховища
Comment=Select your preferred repository mirror
Comment[cs_CZ]=Vyberte preferované zrcadlo úložiště
Comment[de]=Wählen Sie Ihren bevorzugten Spiegelserver
Comment[el]=Επιλέξτε το αποθετήριο που προτιμάτε
Comment[es]=Seleccionar su repositorio espejo preferido
Comment[fr]=Choisir votre dépôt miroir préféré
Comment[ja]=お望みのリポジトリミラーを選択して下さい
Comment[sv]=Välj önskad förrådsspegel
Comment[uk]=Вибір улюбленого дзеркала сховища
Exec=gksu gtkreposetup
Icon=gtkreposetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
NotShowIn=KDE
