[Desktop Entry]
Encoding=UTF-8
Type=Application

Name=iso Live usb installer
Name[el]=Εγκατάσταση του iso Live σε USB

Categories=System
Exec=kdesu /usr/sbin/instonusb
Icon=instonusb
OnlyShowIn=KDE
