[Desktop Entry]
Name=Install multimedia codecs
Name[ar]=تثبيت برامج ترميز الوسائط المتعددة
Name[cs]=Instalovat multimediální kodeky
Name[da]=Installér multimediecodecs
Name[de]=Installiere Multimedia-Codecs
Name[el]=Εγκατάσταση κωδικοποιητών πολυμέσων
Name[es]=Instalar codecs multimedia
Name[es_AR]=Instalar codecs multimedia
Name[fi]=Asenna multimedia koodekit
Name[fr]=Installation des codecs multimédias
Name[gd]=Stàlaich codec-ean ioma-mheadhanan
Name[he]=התקנת קודקים של מולטימדיה
Name[hu]=Multimédia kodekek telepítése
Name[it]=Installa i codec multimediali
Name[ja]=マルチメディア・コデックをインストールする
Name[nl]=Installeer multimedia codecs
Name[pl]=Instalacja kodeków multimedialnych
Name[pt_BR]=Instalar codecs multimídia
Name[pt_PT]=Instalar codificadores multimédia
Name[ru]=Установка мультимедийных кодеков
Name[sv]=Installera multimedia codecs
Name[tr]=Multimedya codec'leri yükle
Name[uk]=Встановити мультимедійні кодеки
Comment=Install codecs required for playing restricted formats
Comment[ar]=تثبيت برامج الترميز المطلوبة لتشغيل صيغ مقيدة
Comment[cs]=Nainstalujte kodeky vyžadované pro přehrávání omezených formátů
Comment[da]=Det er nødvendigt at installere codecs for at afspille lukkede formater
Comment[de]=Installiere Codecs für patentgeschützte Formate
Comment[el]=Εγκατάσταση (απο)κωδικοποιητών που απαιτούνται για την αναπαραγωγή και δημιουργία αρχείων πολυμέσων κλειστής αρχιτεκτονικής
Comment[es]=Instalar codecs necesarios para ejecutar formatos restringidos
Comment[es_AR]=Instalar codecs necesarios para ejecutar formatos restringidos
Comment[fi]=Asenna rajoitettujen tiedostomuotojen toistamiseen tarvittavat koodekit
Comment[fr]=Installation de codecs requise pour voir les formats sous licences
Comment[gd]=Stàlaich codec-ean riatanach airson cluich fòrmatan cuibhrichte
Comment[hu]=Kodekek telepítése a korlátozott formátumok lejátszásához
Comment[it]= Installa i codec necessari per riprodurre i formati con restrizioni
Comment[ja]=規制されたフォーマットを再生するためのコデックをインストールする。
Comment[nl]=Installeer de codecs nodig om gelicentieerde formaten af te spelen
Comment[pl]=Zainstaluj kodeki wymagane do odtwarzania zastrzeżonych formatów
Comment[pt_BR]=Instalar codecs necessários para rodar formatos restritos
Comment[pt_PT]=Instalar os codificadores para reprodução de formatos restritos
Comment[ru]=Установка кодеков для проигрывания закрытых форматов файлов
Comment[sv]=Installera codecs som krävs för att spela licensierade format
Comment[tr]=Kodekleri yüklemek kısıtlı formatları oynatmak için gereklidir.
Comment[uk]=Встановлення кодеків потрібне для програвання деяких обмежених форматів
Exec=gksu salix-codecs-installer-gtk
Icon=salix-codecs-installer
Terminal=false
Type=Application
Categories=Application;AudioVideo;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
NotShowIn=KDE
